{% assign vendorImage = '' %}
{% case card_product.vendor %}
    {% when 'Beautyrest' %}
        {% assign vendorImage = 'vendor-beauty.jpg' | asset_img_url: '140x' %}
    {% when 'Beaudoin' %}
        {% assign vendorImage = 'vendor-beaudoin.jpg' | asset_img_url: '140x' %}
    {% when 'EcoComfort' %}
        {% assign vendorImage = 'vendor-ecocomfort.jpg' | asset_img_url: '140x' %}
    {%  when 'Galaxy Bedding' %}
        {% assign vendorImage = 'vendor-galaxy.jpg' | asset_img_url: '140x' %}
    {% when 'Kingsdown' %}
        {%  assign vendorImage = 'vendor-kingsdown.jpg' | asset_img_url: '140x' %}
    {% when 'Mattressville' %}
        {% assign vendorImage = 'vendor-mville.jpg' | asset_img_url: '140x' %}
    {% when 'Natura' %}
        {% assign vendorImage = 'vendor-natura.jpg' | asset_img_url: '140x' %}
    {% when 'Sealy' %}
        {% assign vendorImage = 'vendor-sealy.png' | asset_img_url: '80x' %}
    {%  when 'Serta' %}
        {% assign vendorImage = 'vendor-serta.jpg' | asset_img_url: '140x' %}
    {% when 'Serta iComfort' %}
        {% assign vendorImage = 'vendor-iComfort.jpg' | asset_img_url: '140x' %}
    {% when 'Stearns & Foster' %}
        {% assign vendorImage = 'vendor-sf.jpg' | asset_img_url: '140x' %}
    {% when 'Tempur-Pedic' %}
        {% assign vendorImage = 'vendor-tempur.jpg' | asset_img_url: '140x' %}
    {% when 'Marshall' %}
        {% assign vendorImage = 'vendor-marshall-mattress.jpg' | asset_img_url: '140x' %}
    {% when 'Orthex' %}
        {% assign vendorImage = 'vendor-orthex.png' | asset_img_url: '140x' %}
{% endcase %}

{%- if show_vendor -%}
    
    <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
    {%- if vendorImage != empty -%}
        <img
            src="{{ vendorImage }}"
            alt="{{ card_product.vendor }}"
            class="vendor-img {{ card_product.vendor }}"
            loading="lazy"            
        >
    {%- else -%}
        <div class="caption-with-letter-spacing light">{{ card_product.vendor }}</div>
    {%- endif -%}
{%- endif -%}
