<style>
  .breadcrumbs {
    margin: 23px 0;
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .breadcrumbs__item {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
  }

  .breadcrumbs__item:not(:last-child):after {
    content: "\e930";
    font-family: "GS-Starter-Icon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }

  .breadcrumbs__item a {
    color: var(--secondary-color);
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .breadcrumbs__link[aria-current='page'] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current='page']:hover,
  .breadcrumbs__link[aria-current='page']:focus {
    text-decoration: underline;
  }
</style>

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}

  <nav
    class="breadcrumbs"
    role="navigation"
    aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link home" href="/">Home</a>
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link"
              href="{{ page.url }}"
              aria-current="page">{{ page.title | truncate: 20 }}</a>
          </li>
        {%- when 'products' -%}
          {%- if collection.url -%}
            <li class="breadcrumbs__item">
              {{ collection.title | link_to: collection.url }}
            </li>
          {%- endif -%}
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link"
              href="{{ product.url }}"
              aria-current="page">
              {{- product.title | truncate: 20 -}}
            </a>
          </li>
        {%- when 'collection' and collection.handle -%}
          <li class="breadcrumbs__item">
            <a href="/collections/all-mattresses">All Mattresses</a>
          </li>
          {%- if current_tags -%}
            <li class="breadcrumbs__item">
              {{ collection.title | link_to: collection.url }}
            </li>
            <li class="breadcrumbs__item">
              {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
              <a
                class="breadcrumbs__link"
                href="{{ tag_url }}"
                aria-current="page">{{ current_tags | join: ' + ' }}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link"
                href="{{ collection.url }}"
                aria-current="page">
                {{- collection.title | truncate: 20 -}}
              </a>
            </li>
          {%- endif -%}
        {%- when 'blog' -%}
          <li class="breadcrumbs__item">
            Blog
          </li>
        {% comment %} 
                                                  {%- if current_tags -%}
          
                                                  <li class="breadcrumbs__item"> 
                                                  {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%} 
                                                  <a 
                                                  class="breadcrumbs__link" 
                                                  href="{{ tag_url }}" 
                                                  aria-current="page">{{ current_tags | join: ' + ' }}</a>
                                                  </li> 
          
                                                  {%- else -%}
                                                  <li class="breadcrumbs__item"> 
                                                  <a 
                                                  class="breadcrumbs__link" 
                                                  href="{{ blog.url }}" 
                                                  aria-current="page">{{ blog.title | truncate: 20 }}</a>
                                                  </li>
                                                  {%- endif -%} 
                                        {% endcomment %}
        {%- when 'article' -%}
          <li class="breadcrumbs__item">
            <a href="/pages/blog">Blog</a>
          </li>
          <li class="breadcrumbs__item">
            {{ blog.title }}
          </li>
        {% comment %} 
                                                                      <li class="breadcrumbs__item">
                                                                        <a
                                                                          class="breadcrumbs__link"
                                                                          href="{{ article.url }}"
                                                                          aria-current="page">
                                                                          {{- article.title | truncate: 20 -}}
                                                                        </a>
                                                                      </li>
                                                        {% endcomment %}
        {%- else -%}
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link"
              href="{{ request.path }}"
              aria-current="page">
              {{- page_title | truncate: 20 -}}
            </a>
          </li>
      {%- endcase -%}
    </ol>
  </nav>
{%- endunless -%}