{% assign featuredBlogs = 'tips,promotions,announcements,how-to-user-guide,health-sleep-wellness,featured-brands,industry-info,accessory-guide' %}{% assign featuredArticles = false %}

{% comment %} 
                        Grab the last 50 (default) articles from each Blog. Add the articles to the featureArticles variable. 
  
  {% for featuredBlog in featuredBlogs %}
    {% if blogs[featuredBlog].articles %}
      {% if featuredArticles %}
        {% assign featuredArticles = featuredArticles | concat: blogs[featuredBlog].articles %}
      {% else %}
        {% assign featuredArticles = blogs[featuredBlog].articles %}
      {% endif %}
    {% endif %}{% endfor %}
  {% endcomment %}

{% comment %} 
                        If featuredArticles is not false we should have articles to show 
{% endcomment %}

{% comment %} Latest Blogs {% endcomment %}
{% comment %} Pagination and concat all articles {% endcomment %}
{% assign blog_handles = "tips,promotions,announcements,how-to-user-guide,health-sleep-wellness,featured-brands,industry-info,accessory-guide" | split: "," %}
{% assign all_articles = "" %}
{% for handle in blog_handles %}
  {% assign articles = blogs[handle].articles %}
  {% assign all_articles = all_articles | concat: articles %}
{% endfor %}
{% assign all_articles = all_articles | sort: 'published_at' | reverse %}

{% if all_articles %}

  <ul class="invx_sidebar_menu_ul recent-blogs">
    {% for article in all_articles limit: 6 %}
      <li class="invx_sidebar_menu_li latest-article-{{ forloop.index }}">
        <a href="{{ article.url }}">
          {% if article.image %}
            <img
              src="{{ article.image.src | image_url: width: 220 }}"
              width="100%"
              height="auto"
              alt="Recent article image">
          {% endif %}
          <p>
            {{ article.title -}}
            <br>
            <small>
              {{ article.published_at | | date: '%B %d, %Y' }}
            </small>
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}