<style>
  @media (max-width: 767px) {
    .invx_sidebar_menu_header {
      cursor: pointer;
      width: 100%;
      outline: none;
    }
    .invx_sidebar_menu_ul {
      display: none;
      overflow: hidden;
      transition: 0.2s ease-out;
    }
    .invx_sidebar_menu_ul.active {
      display: block;
      transition: 0.2s ease-out;
    }
  }
</style>
{% assign path = request.path | split: '/' %}
<div class="invx_sidebar ">
  {% if path[1] contains 'pages' %}
    {% render 'invx-bread-crumb-nav' %}
    <div class="invx_sidebar_menu ">
      <div class="invx_sidebar_menu_header" onclick="collapsible('invx_sidebar_menu_ul')">
        {{ shop.name }}
      </div>
      <ul class="invx_sidebar_menu_ul" id="invx_sidebar_menu_ul">
        {% for link in linklists['page-sidebar'].links %}
          <li class="invx_sidebar_menu_li {% if link.active %} active {% if link.child_active %} child-active {% endif %}{% endif %}">
            {% if link.links != blank %}
              <div class="accordion">
                <details
                  id="{{ link.title }}_details"
                  {% if link.child_active %}
                    open
                  {% endif %}
                >
                  <summary id="{{ link.title }}_summary" role="button">
                    {{ link.title }}
                  </summary>
                  <div class="accordion__content rte">
                    <ul class="invx_sidebar_menu_child_ul">
                      {% for child_link in link.links %}
                        <li class="invx_sidebar_menu_child_li {% if child_link.active %} child-active {% endif %}">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </details>
              </div>
            {% else %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {%- elsif path[1] contains 'blogs' -%}
    {% render 'invx-bread-crumb-nav' %}
    <div class="invx_sidebar_menu">
      <div class="invx_sidebar_menu_header" onclick="collapsible('invx_sidebar_menu_ul')">Blog Categories</div>
      <ul class="invx_sidebar_menu_ul" id="invx_sidebar_menu_ul">
        {% for link in linklists['blog-categories'].links %}
          <li class="invx_sidebar_menu_li">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="invx_sidebar_menu">
      <div class="invx_sidebar_menu_header" onclick="collapsible('invx_sidebar_menu_blogs')">Recent Blogs</div>
      <div id="invx_sidebar_menu_blogs">
        {% render 'invx-sidebar-latest-blogs' %}
      </div>
    </div>
  {%- endif -%}

  {%- if path[1] contains 'pages' and path[2] contains 'blogs' -%}
    <div class="invx_sidebar_menu">
      <div class="invx_sidebar_menu_header" onclick="collapsible('invx_sidebar_menu_blogs')">Recent Blogs</div>
      <div id="invx_sidebar_menu_blogs">
        {% render 'invx-sidebar-latest-blogs' %}
      </div>
    </div>
  {%- endif -%}
</div>

<script>
  function collapsible(elem) {
    var coll = document.getElementById(elem);
    coll.classList.toggle('active');
  }
</script>
