{%- assign path = request.path | split: '/' -%}
{%- if path[1] contains 'pages' -%}
  <div class="invx_sidebar ">
    <div class="invx_sidebar_menu">
      <div class="invx_sidebar_menu_header">
        {{ shop.name }}
      </div>
      <ul class="invx_sidebar_menu_ul">
        {% for link in linklists['page-sidebar'].links %}
          <li class="invx_sidebar_menu_li {% if link.active %} active {% if link.child_active %} child-active {% endif %}{% endif %}">
            {% if link.links != blank %}
              <div class="accrodion">
                <details
                  id="{{ link.title }}_details"
                  {% if link.child_active %}
                    open
                  {% endif %}
                >
                  <summary id="{{ link.title }}_summary" role="button">
                    {{ link.title }}
                  </summary>
                  <div class="accordion__content rte">
                    <ul class="invx_sidebar_menu_child_ul">
                      {% for child_link in link.links %}
                        <li class="invx_sidebar_menu_child_li {% if child_link.active %} child-active {% endif %}">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </details>
              </div>
            {% else %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{%- elsif path[1] contains 'blogs' -%}
  <div class="invx_sidebar ">
    <div class="invx_sidebar_menu">
      <div class="invx_sidebar_menu_header">Blog Categories</div>
      <ul class="invx_sidebar_menu_ul">
        {% for link in linklists['blog-categories'].links %}
          <li class="invx_sidebar_menu_li">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% for article in blogs.path[2].title %}
      {{ article.title | link_to: article.url }}
    {% endfor %}
  </div>
{%- endif -%}
