{% style %}
  :root  {
    --footer-top-bg: {{ section.settings.background_color }};
  }
{% endstyle %}
{% javascript %}
  /* Yotpo review badge * /
  var yotpo_app_key = 'CvekGnxwoARDv2TIkrsamQxTKKuMvMgSSMeS2u2F';

  (function e() {
    var e = document.createElement('script');
    (e.type = 'text/javascript'),
    (e.async = true),
    (e.src = '//staticw2.yotpo.com/CvekGnxwoARDv2TIkrsamQxTKKuMvMgSSMeS2u2F/widget.js');
    var t = document.getElementsByTagName('script')[0];
    t.parentNode.insertBefore(e, t);
  })();
  */
{% endjavascript %}

{{ 'footer-top.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="footer-inner">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'about_column' -%}
          {%- assign sectionTitleLink = block.settings.section_title_link | default: '/pages/why-mattressville' | url_escape -%}
          {%- assign contactTitleLink = block.settings.contact_title_link | default: '/pages/contact-us' | url_escape -%}
          <div class="about">
            <a
              class="section-title"
              title="{{ block.settings.section_title | escape }}"
              aria-label="{{ block.settings.section_title | escape }}"
              href="{{ sectionTitleLink }}">
              {{- block.settings.section_title | escape -}}
            </a>
            <span>{{ block.settings.section_content | escape }}</span>
            <div class="footer-contact">
              <a
                class="section-title"
                title="{{ block.settings.contact_title | escape }}"
                aria-label="{{ block.settings.contact_title | escape }}"
                href="{{ contactTitleLink }}">
                <span>{{ block.settings.contact_title | escape }}</span>
              </a>
              <p>{{ block.settings.contact_address | escape }}</p>
              <p>{{ block.settings.contact_number | escape }}</p>
              <span class="mail-us">{{ block.settings.contact_mail | escape }}</span>
            </div>
          </div>
        {%- when 'brand_column' -%}
          <div class="brands">
            <span class="section-title">{{ block.settings.section_title | escape }}</span>
            <div class="areas">
              {%- for brand in block.settings.brands_menu.links -%}
                <a title="{{ brand.title | escape }}" href="{{ brand.url }}" aria-label="{{ brand.title | escape }}">{{ brand.title | escape }}</a>
              {%- endfor -%}
            </div>
          </div>
        {%- when 'styles_column' -%}
          <div class="style-type">
            <span class="section-title">{{ block.settings.section_title | escape }}</span>
            <div class="areas">
              {%- for style in block.settings.styles_menu.links -%}
                <a title="{{ style.title | escape }}" href="{{ style.url }}" aria-label="{{ style.title | escape }}">{{ style.title | escape }}</a>
              {%- endfor -%}
            </div>
          </div>
        {%- when 'locations_column' -%}
          <div class="location">
            <span class="section-title">{{ block.settings.section_title | escape }}</span>
            <div class="location-area">
              <div class="areas">
                {%- for location_a in block.settings.locations_a.links -%}
                  <a title="{{ location_a.title | escape }}" href="{{ location_a.url }}" aria-label="{{ location_a.title | escape }}">
                    {{- location_a.title | escape -}}
                  </a>
                {%- endfor -%}
              </div>
              <div class="areas">
                {%- for location_b in block.settings.locations_b.links -%}
                  <a title="{{ location_b.title | escape }}" href="{{ location_b.url }}" aria-label="{{ location_b.title | escape }}">
                    {{- location_b.title | escape -}}
                  </a>
                {%- endfor -%}
              </div>
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
  
  <div class="footer-badges">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'badge_logos' -%}
          <div class="badge-image">
            {% if block.settings.best_rated != blank %}
             <div class="trustanalytica_badge_container">
                <a href="https://trustanalytica.org/ca/on/mississauga/best-adjustable-beds" title="trustanalytica" arai-label="Trustanalytica" target="_blank">
                  {{ block.settings.trust_analytica | image_url: width: 'auto' | image_tag : class: 'footer-badge'  }}
                </a>
              </div>
            {% endif %}
          </div>
          
          <div class="badge-image">
            {%- if block.settings.best_rated != blank -%}
              <a href="https://threebestrated.ca/mattress-stores-in-mississauga-on" target="_blank" title="Best Rated" aria-label="Best Rated">
                {{ block.settings.best_rated | image_url: width: block.settings.logo_image_width | image_tag : class: 'footer-badge'  }}
              </a>
            {%- endif -%}
          </div>
          
          <div class="badge-image">    
            {%- if block.settings.web_excellence != blank -%}
              <a href="https://we-awards.com/winner/mattressville-website/" target="_blank" title="Web Excellence"  aria-label="Web Excellence">
                {{ block.settings.web_excellence | image_url: width: block.settings.logo_image_width | image_tag : class: 'footer-badge'  }}
              </a>
            {%- endif -%}
          </div>
          
          <div class="badge-image">
            <a href="https://mattressville.ca/pages/reviews" title="Yotpo" aria-label="Yotpo">
              <div id="y-badges" class="yotpo yotpo-badge badge-init"></div>
            </a>
          </div>
      {%- endcase -%}
    {%- endfor -%}
    
  </div>

</div>
{% schema %}
  {
    "name": "Footer Top",
    "class": "footer-top",
    "enabled_on": {
      "groups": ["footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#f1f3f4"
      }
    ],
    "blocks": [
      {
        "type": "about_column",
        "name": "About Column",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "About Us"
          },
          {
            "type": "url",
            "id": "section_title_link",
            "label": "Section Title Link"
          },
          {
            "type": "textarea",
            "id": "section_content",
            "label": "Section Content",
            "default": "Mattressville is your one stop shop for deals and discounts on premium mattresses and sleep accessories so you can Have a Good Night, Every Night! Shop online or visit us in Mississauga near Toronto and find out why we are the highest rated mattress store."
          },
          {
            "type": "text",
            "id": "contact_title",
            "label": "Contact Title",
            "default": "Contact Us"
          },
          {
            "type": "url",
            "id": "contact_title_link",
            "label": "Contact Title Link"
          },
          {
            "type": "textarea",
            "id": "contact_address",
            "label": "Contact Address",
            "default": "1911 Dundas St. East, Unit 18 Mississauga, On L4X 1M1"
          },
          {
            "type": "text",
            "id": "contact_number",
            "label": "Contact Number",
            "default": "905-212-7722"
          },
          {
            "type": "text",
            "id": "contact_mail",
            "label": "Contact Mail",
            "default": "info@mattressville.ca"
          }
        ]
      },
      {
        "type": "brand_column",
        "name": "Brand Column",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Brands"
          },
          {
            "type": "link_list",
            "id": "brands_menu",
            "label": "Brands Menu"
          }
        ]
      },
      {
        "type": "styles_column",
        "name": "Styles Column",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Styles/Types"
          },
          {
            "type": "link_list",
            "id": "styles_menu",
            "label": "Styles Menu"
          }
        ]
      },
      {
        "type": "locations_column",
        "name": "Locations Column",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Delivery Areas"
          },
          {
            "type": "link_list",
            "id": "locations_a",
            "label": "Locations A"
          },
          {
            "type": "link_list",
            "id": "locations_b",
            "label": "Locations B"
          },          
        ]
      },
      {
        "type": "badge_logos",
        "name": "Badge Logos",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "trust_analytica",
            "label": "Trust Analytica Logo"
          },
          {
            "type": "image_picker",
            "id": "best_rated",
            "label": "Best Rated Logo"
          },
          {
            "type": "image_picker",
            "id": "web_excellence",
            "label": "Web Excellence Logo"
          },
          {
            "type": "number",
            "id": "logo_image_height",
            "label": "Logo Height",
            "default": 135
          },
          {
            "type": "number",
            "id": "logo_image_width",
            "label": "Logo Image Width",
            "default": 155
          },
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer Top Columns",
        "blocks": [
          {
            "type": "about_column"
          },
          {
            "type": "brand_column"
          },
          {
            "type": "styles_column"
          },
          {
            "type": "locations_column"
          }
        ]
      }
    ]
  }
{% endschema %}