{% style %}
  :root  {
    --footer-mobile-bg: {{ section.settings.background_color }};
  }
{% endstyle %}
{{ 'footer-mobile.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="accordion">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'about_area' -%}
          <div class="item">
            <div class="header">
              <button type="button" class="btn-toggle">
                <span>{{ block.settings.section_title | escape }}</span>
                <i class="gsi gs-chevron-up"></i>
              </button>
            </div>
            <div class="collapse show">
              <div class="content about">
                <div class="description">
                  {{ block.settings.section_content | escape }}<span class="mail-us">{{ block.settings.contact_mail | escape }}</span>
                </div>
                <div class="menu">
                  {%- for item in block.settings.about_menu.links -%}
                    <a
                      class="menu-link"
                      title="{{ item.title | escape }}"
                      href="{{ item.url }}/">{{ item.title | escape }}</a>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <hr class="separator">
          </div>
        {%- when 'styles_area' -%}
          <div class="item">
            <div class="header">
              <button type="button" class="btn-toggle">
                <span>{{ block.settings.section_title | escape }}</span>
                <i class="gsi gs-chevron-down"></i>
              </button>
            </div>
            <div class="collapse">
              <div class="content stylesTypes">
                <div class="areas">
                  {%- for item in block.settings.styles_menu.links -%}
                    <div>
                      <a title="{{ item.title | escape }}" href="{{ item.url }}/">{{ item.title | escape }}</a>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <hr class="separator">
          </div>
        {%- when 'locations_area' -%}
          <div class="item">
            <div class="header">
              <button type="button" class="btn-toggle">
                <span>{{ block.settings.section_title | escape }}</span>
                <i class="gsi gs-chevron-down"></i>
              </button>
            </div>
            <div class="collapse">
              <div class="content location">
                <div class="locations">
                  <div class="flex-fill">
                    <ul class="list-unstyled">
                      {%- for item in block.settings.locations_a.links -%}
                        <li>
                          <a href="{{ item.url }}">{{ item.title | escape }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                  <div class="flex-fill">
                    <ul class="list-unstyled pl-0 mb-0">
                      {%- for item in block.settings.locations_b.links -%}
                        <li>
                          <a title="{{ item.title | escape }}" href="{{ item.url }}">{{ item.title | escape }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <hr class="separator">
          </div>
        {%- when 'brands_area' -%}
          <div class="item">
            <div class="header">
              <button type="button" class="btn-toggle">
                <span>{{ block.settings.section_title | escape }}</span>
                <i class="gsi gs-chevron-down"></i>
              </button>
            </div>
            <div class="collapse">
              <div class="content brands">
                <div class="brands-list">
                  {%- for item in block.settings.brands_menu.links -%}
                    <div>
                      <a title="{{ item.title | escape }}" href="{{ item.url }}">{{ item.title | escape }}</a>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <hr class="separator">
          </div>
        {%- when 'affirm_disclaimer' -%}
          <div class="item">
            <div class="header">
              <button type="button" class="btn-toggle">
                <span>{{ block.settings.section_title | escape }}</span>
                <i class="gsi gs-chevron-down"></i>
              </button>
            </div>
            <div class="collapse">
              <div class="content about">
                <div class="description">
                  {{ block.settings.affirm_disclaimer }}
                </div>
              </div>
            </div>
            <hr class="separator">
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
  <div class="bottom">
    <div class="inner">
      <div class="pay-safe">
        <div class="payment-mods">
          {%- if section.settings.enable_google_pay_payment -%}
            <img
              src="{{ 'google_pay' | payment_type_img_url }}"
              alt="google_pay"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_affirm_payment -%}
            <img
              src="{{ 'affirm' | payment_type_img_url }}"
              alt="affirm"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_opay_payment -%}
            <img
              src="{{ 'opay' | payment_type_img_url }}"
              alt="opay"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_american_express_payment -%}
            <img
              src="{{ 'american_express' | payment_type_img_url }}"
              alt="american_express"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_apple_pay_payment -%}
            <img
              src="{{ 'apple_pay' | payment_type_img_url }}"
              alt="apple_pay"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_diners_club_payment -%}
            <img
              src="{{ 'diners_club' | payment_type_img_url }}"
              alt="diners_club"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_discover_payment -%}
            <img
              src="{{ 'discover' | payment_type_img_url }}"
              alt="discover"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_master_payment -%}
            <img
              src="{{ 'master' | payment_type_img_url }}"
              alt="master"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_shopify_pay_payment -%}
            <img
              src="{{ 'shopify_pay' | payment_type_img_url }}"
              alt="shopify_pay"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_visa_payment -%}
            <img
              src="{{ 'visa' | payment_type_img_url }}"
              alt="visa"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
          {%- if section.settings.enable_paypal_payment -%}
            <img
              src="{{ 'paypal' | payment_type_img_url }}"
              alt="paypal"
              loading="lazy"
              height="38"
              width="60" />
          {%- endif -%}
        </div>
      </div>
      <div class="copyright">
        <p>{{ section.settings.copyright_text }}</p>
      </div>
      <div class="social-media">
        {%- if settings.social_twitter_link != blank -%}
          <a
            href="{{ settings.social_twitter_link }}"
            target="_blank"
            class="media-link">
            <i class="gsi gs-twitter-alt"></i>
          </a>
        {%- endif -%}
        {%- if settings.social_facebook_link != blank -%}
          <a
            href="{{ settings.social_facebook_link }}"
            target="_blank"
            class="media-link">
            <i class="gsi gs-facebook-alt"></i>
          </a>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <a
            href="{{ settings.social_instagram_link }}"
            target="_blank"
            class="media-link">
            <i class="gsi gs-instagram"></i>
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% javascript %}
  document.addEventListener("DOMContentLoaded", function() {
    var accordionButtons = document.querySelectorAll(".accordion .btn-toggle");

    accordionButtons.forEach(function(button) {
      button.addEventListener("click", function() {
        var icon = this.querySelector(".gsi");
        var collapse = this.closest(".item").querySelector(".collapse");

        document.querySelectorAll(".accordion .btn-toggle .gsi.gs-chevron-up").forEach(function(upIcon) {
          upIcon.classList.add("gs-chevron-down");
          upIcon.classList.remove("gs-chevron-up");
        });

        if (! collapse.classList.contains("show")) {
          document.querySelectorAll(".collapse.show").forEach(function(shownCollapse) {
            slideUp(shownCollapse);
            shownCollapse.classList.remove("show");
          });

          slideDown(collapse);
          collapse.classList.add("show");
          icon.classList.add("gs-chevron-up");
          icon.classList.remove("gs-chevron-down");
        } else {
          slideUp(collapse);
          collapse.classList.remove("show");
          icon.classList.add("gs-chevron-down");
          icon.classList.remove("gs-chevron-up");
        }
      });
    });
    function slideUp(element) {
      element.style.transition = "max-height 0.3s";
      element.style.maxHeight = element.scrollHeight + "px";
      element.style.overflow = "hidden";
      setTimeout(function() {
        element.style.maxHeight = 0;
        setTimeout(function() {
          element.style.display = "none";
        }, 300); // Wait for the transition to complete before hiding
      }, 100);
    }
    function slideDown(element) {
      element.style.transition = "max-height 0.3s";
      element.style.display = "block";
      element.style.overflow = "hidden";
      element.style.maxHeight = element.scrollHeight + "px";
      setTimeout(function() {
        element.style.maxHeight = "unset";
      }, 100);
    }
  });
{% endjavascript %}
{% schema %}
  {
    "name": "Footer Mobile",
    "class": "footer-mobile",
    "enabled_on": {
      "groups": ["footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#f1f3f4"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copy Right Text",
        "default": "© 2023 online mattress store - mattressville.ca. All Rights Reserved."
      },
      {
        "type": "checkbox",
        "id": "enable_american_express_payment",
        "default": false,
        "label": "Enable American Express Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_affirm_payment",
        "default": true,
        "label": "Enable Affirm Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_paypal_payment",
        "default": true,
        "label": "Enable PayPal Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_opay_payment",
        "default": true,
        "label": "Enable OPay Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_apple_pay_payment",
        "default": false,
        "label": "Enable Apple Pay Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_diners_club_payment",
        "default": false,
        "label": "Enable Diners Club Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_discover_payment",
        "default": false,
        "label": "Enable Discover Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_google_pay_payment",
        "default": true,
        "label": "Enable Google Pay Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_master_payment",
        "default": true,
        "label": "Enable Master Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_shopify_pay_payment",
        "default": false,
        "label": "Enable Shopify Pay Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_visa_payment",
        "default": true,
        "label": "Enable Visa Payment"
      }
    ],
    "blocks": [
      {
        "type": "about_area",
        "name": "About Area",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "About Us"
          },
          {
            "type": "textarea",
            "id": "section_content",
            "label": "Section Content",
            "default": "Mattressville is your one stop shop for deals and discounts on premium mattresses and sleep accessories so you can Have a Good Night, Every Night! Shop online or visit us in Mississauga near Toronto and find out why we are the highest rated mattress store."
          },
          {
            "type": "link_list",
            "id": "about_menu",
            "label": "About Menu"
          },
          {
            "type": "text",
            "id": "contact_mail",
            "label": "Contact Mail",
            "default": "info@mattressville.ca"
          }
        ]
      },
      {
        "type": "brands_area",
        "name": "Brand Area",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Brands"
          },
          {
            "type": "link_list",
            "id": "brands_menu",
            "label": "Brands Menu"
          }
        ]
      },
      {
        "type": "styles_area",
        "name": "Styles Area",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Styles/Types"
          },
          {
            "type": "link_list",
            "id": "styles_menu",
            "label": "Styles Menu"
          }
        ]
      },
      {
        "type": "locations_area",
        "name": "Locations Area",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Delivery Areas"
          },
          {
            "type": "link_list",
            "id": "locations_a",
            "label": "Locations A"
          },
          {
            "type": "link_list",
            "id": "locations_b",
            "label": "Locations B"
          }
        ]
      },
      {
        "type": "affirm_disclaimer",
        "name": "Affirm Disclaimer",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Affirm Disclaomer"
          },
          {
            "type": "inline_richtext",
            "id": "affirm_disclaimer",
            "label": "Affirm Disclaimer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer Top Columns",
        "blocks": [
          {
            "type": "about_area"
          },
          {
            "type": "styles_area"
          },
          {
            "type": "locations_area"
          },
          {
            "type": "brands_area"
          },
          {
            "type": "affirm_disclaimer"
          }
        ]
      }
    ]
  }
{% endschema %}