{% style %}
  :root  {
    --footer-top-bg: {{ section.settings.background_color }};
  }
{% endstyle %}
{{ 'footer-top.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="footer-inner">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'about_column' -%}
          {%- assign sectionTitleLink = block.settings.section_title_link | default: "/pages/why-mattressville" | url_escape -%}
          {%- assign contactTitleLink = block.settings.contact_title_link | default: "/pages/contact-us" | url_escape -%}
          <div class="about">
            <a
              class="section-title"
              area-label="{{ block.settings.section_title | escape }}"
              href="{{ sectionTitleLink }}">{{ block.settings.section_title | escape }}</a>
            <span>{{ block.settings.section_content | escape }}</span>
            <a
              class="section-title"
              area-label="{{ block.settings.contact_title | escape }}"
              href="{{ contactTitleLink }}">
              <span>{{ block.settings.contact_title | escape }}</span>
            </a>
            <p>{{ block.settings.contact_address | escape }}</p>
            <p>{{ block.settings.contact_number | escape }}</p>
            <span class="mail-us">{{ block.settings.contact_mail | escape }}</span>
          </div>
        {%- when 'brand_column' -%}
          <div class="brands">
            <span class="section-title">{{ block.settings.section_title | escape }}</span>
            <div class="areas">
              {%- for brand in block.settings.brands_menu.links -%}
                <a area-label="{{ brand.title | escape }}" href="{{ brand.url }}">{{ brand.title | escape }}</a>
              {%- endfor -%}
            </div>
          </div>
        {%- when 'styles_column' -%}
          <div class="style-type">
            <span class="section-title">{{ block.settings.section_title | escape }}</span>
            <div class="areas">
              {%- for style in block.settings.styles_menu.links -%}
                <a area-label="{{ style.title | escape }}" href="{{ style.url }}">{{ style.title | escape }}</a>
              {%- endfor -%}
            </div>
          </div>
        {%- when 'locations_column' -%}
          <div class="location">
            <span class="section-title">{{ block.settings.section_title | escape }}</span>
            <div class="location-area">
              <div class="areas">
                {%- for location_a in block.settings.locations_a.links -%}
                  <a area-label="{{ location_a.title | escape }}" href="{{ location_a.url }}">{{ location_a.title | escape }}</a>
                {%- endfor -%}
              </div>
              <div class="areas">
                {%- for location_b in block.settings.locations_b.links -%}
                  <a area-label="{{ location_b.title | escape }}" href="{{ location_b.url }}">{{ location_b.title | escape }}</a>
                {%- endfor -%}
              </div>
            </div>
            <div class="footer-badges">
              <div class="badge-image">
                {% comment %} <script type="text/javascript">var yotpo_app_key = "CvekGnxwoARDv2TIkrsamQxTKKuMvMgSSMeS2u2F";(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/CvekGnxwoARDv2TIkrsamQxTKKuMvMgSSMeS2u2F/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script><div id="y-badges" class="yotpo yotpo-badge badge-init">&nbsp;</div> {% endcomment %}
                {%- if block.settings.match_maker_image != blank -%}
                  <img
                    src="{{ block.settings.review_image | img_url: 'master' }}"
                    alt="Review Badge"
                    class="footer-badge"
                    loading="lazy"
                    height="{{ block.settings.review_image_height }}"
                    width="{{ block.settings.review_image_width }}" />
                {%- else -%}
                  <img
                    src="{{ 'badges-preview.png' | asset_img_url: 'master' }}"
                    alt="Review Badge"
                    class="footer-badge"
                    loading="lazy"
                    height="{{ block.settings.review_image_height }}"
                    width="{{ block.settings.review_image_width }}" />
                {%- endif -%}
              </div>
              <div class="badge-image">
                {%- if block.settings.match_maker_image != blank -%}
                  <img
                    src="{{ block.settings.award_image | img_url: 'master' }}"
                    alt="Three best business excellence award 2022 badge"
                    class="footer-badge"
                    loading="lazy"
                    height="{{block.settings.award_image_height}}"
                    width="{{block.settings.award_image_width}}" />
                {%- else -%}
                  <img
                    src="{{ 'badge.png' | asset_img_url: 'master' }}"
                    alt="Three best business excellence award 2022 badge"
                    class="footer-badge"
                    loading="lazy"
                    height="{{ block.settings.award_image_height }}"
                    width="{{ block.settings.award_image_width }}" />
                {%- endif -%}
              </div>
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
{% schema %}
  {
    "name": "Footer Top",
    "class": "footer-top",
    "enabled_on": {
      "groups": ["footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#f1f3f4"
      }
    ],
    "blocks": [
      {
        "type": "about_column",
        "name": "About Column",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "About Us"
          },
          {
            "type": "url",
            "id": "section_title_link",
            "label": "Section Title Link"
          },
          {
            "type": "textarea",
            "id": "section_content",
            "label": "Section Content",
            "default": "Mattressville is your one stop shop for deals and discounts on premium mattresses and sleep accessories so you can Have a Good Night, Every Night! Shop online or visit us in Mississauga near Toronto and find out why we are the highest rated mattress store."
          },
          {
            "type": "text",
            "id": "contact_title",
            "label": "Contact Title",
            "default": "Contact Us"
          },
          {
            "type": "url",
            "id": "contact_title_link",
            "label": "Contact Title Link"
          },
          {
            "type": "textarea",
            "id": "contact_address",
            "label": "Contact Address",
            "default": "1911 Dundas St. East, Unit 18 Mississauga, On L4X 1M1"
          },
          {
            "type": "text",
            "id": "contact_number",
            "label": "Contact Number",
            "default": "905-212-7722"
          },
          {
            "type": "text",
            "id": "contact_mail",
            "label": "Contact Mail",
            "default": "info@mattressville.ca"
          }
        ]
      },
      {
        "type": "brand_column",
        "name": "Brand Column",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Brands"
          },
          {
            "type": "link_list",
            "id": "brands_menu",
            "label": "Brands Menu"
          }
        ]
      },
      {
        "type": "styles_column",
        "name": "Styles Column",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Styles/Types"
          },
          {
            "type": "link_list",
            "id": "styles_menu",
            "label": "Styles Menu"
          }
        ]
      },
      {
        "type": "locations_column",
        "name": "Locations Column",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Delivery Areas"
          },
          {
            "type": "link_list",
            "id": "locations_a",
            "label": "Locations A"
          },
          {
            "type": "link_list",
            "id": "locations_b",
            "label": "Locations B"
          },
          {
            "type": "image_picker",
            "id": "review_image",
            "label": "Review Image"
          },
          {
            "type": "number",
            "id": "review_image_height",
            "label": "Review Image Height",
            "default": 135
          },
          {
            "type": "number",
            "id": "review_image_width",
            "label": "Review Image Width",
            "default": 155
          },
          {
            "type": "image_picker",
            "id": "award_image",
            "label": "Award Image"
          },
          {
            "type": "number",
            "id": "award_image_height",
            "label": "Award Image Height",
            "default": 135
          },
          {
            "type": "number",
            "id": "award_image_width",
            "label": "Award Image Width",
            "default": 155
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer Top Columns",
        "blocks": [
          {
            "type": "about_column"
          },
          {
            "type": "brand_column"
          },
          {
            "type": "styles_column"
          },
          {
            "type": "locations_column"
          }
        ]
      }
    ]
  }
{% endschema %}