{{ 'header-bottom.aio.min.css' | asset_url | stylesheet_tag }}


<style>

   /* Mattress Matchmaker Popup CSS Start */

          #openPopupBtn{
            font-family:"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
            background-color: transparent;
            box-shadow: none;
            border:none;
            text-transform: uppercase;
            color: #707070;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.06rem;
            font-weight: 400;
            cursor: pointer;
          }
          #openPopupBtn2 {
            font-family:"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
            background-color: transparent;
            box-shadow: none;
            border:none;
            text-transform: uppercase;
            align-items: center;
            color: #707070;
            display: flex;
            font-size: 24px;
            justify-content: space-between;
            line-height: 30px;
            padding:5.49px 0;
            text-decoration:none;
            text-transform: uppercase;
          }
          .mm .popup-content {
            background-color:#ffffff;
            padding:50px 30px;
            margin:30px auto;
            width: 90%;
            max-width: 900px;
            border-radius:10px;
            position: relative;
            max-height: 100vh;
            overflow-y: scroll;
          }
          .mm.popup {
            display: none;
            position:fixed;
            z-index: 999999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
          }
          
          .mm.popup .close {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 24px;
            cursor: pointer;
          }
          .mm .header-logo {
            text-align: center;
          }
          .mm .header-title {
            font-size: 48px;
            margin:0;
            font-weight:700;
            text-align: center;
          }
          .mm .popup-content-area p {
            font-size: 22px;
            text-align: center;
            margin:0;
          }
          .mm .pop-up-card {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            padding-top: 30px;
            flex-wrap: wrap;
          }
          .mm .popup-card {
            background-color: #fff;
            padding:30px 30px 40px 30px;
            box-shadow: 5px 5px 10px 5px #dfd9d9;
            border-radius:20px;
            flex:1 1 calc(50% - 30px);
            max-width: calc(50% - 30px);
            position: relative;
          }
          .mm .card-logo {
            text-align: center;
          }
          /* .popup-card h3 {
            font-size: 26px;
            text-align: center;
            font-weight: 700;
            margin:0;
            padding-top: 20px;
            color: #000;
          } */
          .popup-card h3{
            font-size: 26px;
            text-align: center;
            font-weight: 700;
            margin: 0;
            padding-top: 20px;
            color: #000;
            min-height: 113px;
            align-items: center;
            display: flex;
            justify-content: center;
          }
          .mm .pop-up-card .card-logo .icon {
              height: 75px;
              width:auto;
            }
          .mm .popup-card ul {
            list-style:none;
            padding:0;
            margin-bottom: 50px;
          }
          .popup-card ul li {
            font-size: 18px;
            position: relative;
            padding-left:25px;
          }
          .popup-card ul li::before {
            content: "\f00c";
            font-family: "FontAwesome";
            color: #ff5c7b;
            position: absolute;
            left: 0;
          }
          /* .card-btn{
            text-align: center;
            margin-top:50px;
          } */
          /* .card-btn {
              position: absolute;
              transform: translate(-50%,-100%);
              bottom: 0;
              left: 50%;
              right: 50%;
              width: 100%;
            } */
            .card-btn {
              position: absolute;
              transform: translate(-50%,-100%);
              bottom: 0;
              left: 50%;
              right: 50%;
              width: 100%;
              text-align: center;
            }
          .card-btn a {
            background-color: rgba(255,92,123,1);
            border-radius:30px;
            padding:12px 35px;
            color: #fff;
            text-decoration:none;
            font-size: 18px;
          }
  @media screen and (max-width: 919px){
     #openPopupBtn {
              font-size: 20px;
              padding: 12px 0px;
              background-color: transparent;
              border: none;
              color: #707070;
              text-transform: uppercase;
              letter-spacing: 1px;
              cursor: pointer;
            }
  }
          
          @media screen and (max-width: 992px) {
            .mm.popup .close {
              top: -5px;
            }
            .mm .popup-content {
              padding:30px 20px;
            }
            .mm .header-logo{
              display:none;
            }
            .mm .header-title {
              font-size: 24px;
              line-height: 30px;
            }
            .mm .pop-up-card {
              padding-top: 15px;
            }
            .mm .pop-up-card .card-btn {
              margin-top: 30px;
            }
            .popup-card h3 {
              padding-top: 10px;
              line-height: 30px;
              min-height:50px;
            }
            .mm .popup-content-area p {
              font-size: 16px;
            }
            .mm .popup-card {
              flex:1 1 calc(100% - 0px);
              max-width: calc(100% - 0px);
              margin-bottom: 20px;
              padding: 20px 20px 30px;
            }
            .popup-card ul li {
              font-size: 16px;
            }
            .card-btn a {
              padding:10px 20px;
              font-size: 16px;
            }
            .mm .pop-up-card .card-logo .icon {
              width: 70px;
              height:auto;
            }
            
          }
      /* Product page css by Raj 06-05-2025 */
     /* .product-single .invx-custom-gallery-slider .swiper-slide{
        pointer-events: none;
      } */

      /* Mattress Matchmaker Popup CSS End */
@media (max-width: 450px) {
  .invx-mega-menu{
  overflow: scroll !important;
    height: calc(100vh - 55px) !important;
}
  .header-bottom{
   display:none
 }
  
}

  
</style>

<div class="header-bottom">
  <div class="page-width">
    <div class="main-nav">
      <div class="mobile-bottom">
        <div class="start">
          <button
            type="button"
            class="main-menu-toggle"
            aria-label="Toggle Nav Drop Down"
          >
            <span class="stripe"></span>
            <span class="stripe"></span>
            <span class="stripe"></span>
          </button>
        </div>
        <div class="end">
          <i class="gsi gs-phone"></i>
          <a target="_top" href="tel:+{{ section.settings.phone_number | remove: "-"}}" aria-label="Contact number">
            {{ section.settings.phone_number }}
          </a>
        </div>
      </div>
      <div class="main-menu">
        <div class="nav-area">
          <!-- Mega Menu -->
          <div class="nav-item has-mega-menu dropdown">
            <a
              href="#"
              class="dropdown-toggle nav-link"
              aria-label="{{ section.settings.meta_menu_title }}"
              role="button"
            >
              {{- section.settings.meta_menu_title -}}
            </a>
            <div class="dropdown-menu mega-menu invx-mega-menu">
              <div class="mega-menu-area">
                {%- for link in section.settings.mega_menu.links -%}
                  {%- assign hasChildren = link.links | empty | default: false -%}
                  <div class="mega-menus">
                    <h5>{{- link.title | escape -}}</h5>
                    {%- if hasChildren -%}
                      <div class="inner-menu">
                        {%- for childlink in link.links -%}
                          {% assign childlink_url = childlink.url %}
                          {% unless canonical_url contains '?' or childlink_url contains '?' %}
                            {% assign last_char = childlink_url | slice: -1 %}
                            {% unless last_char == '/' %}
                              {% assign childlink_url = childlink_url %}
                            {% endunless %}
                          {% endunless %}
                          <div class="dropdown-item">
                            <a
                              class="nav-link"
                              href="{{ childlink_url }}"
                              aria-label="Product list of {{ childlink.title | escape }}"
                            >
                              {{- childlink.title | escape -}}
                            </a>
                          </div>
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endfor -%}
              </div>
              <div class="all-item">
                {%- assign megaMenuBottomLink1 = section.settings.mega_menu_bottom_link
                  | default: '/collections/all-mattresses'
                  | url_escape
                -%}
                {%- assign megaMenuBottomLink2 = section.settings.mega_menu_bottom_link2
                  | default: '/collections'
                  | url_escape
                -%}
                {%- assign megaMenuBottomLink3 = section.settings.mega_menu_bottom_link3
                  | default: '/collections/all-mattresses'
                  | url_escape
                -%}
                <a class="mega-menu-bottom-link" href="{{ megaMenuBottomLink1 }}">
                  {{- section.settings.mega_menu_bottom_label -}}
                </a>
                <a class="mega-menu-bottom-link" href="{{ megaMenuBottomLink2 }}">
                  {{- section.settings.mega_menu_bottom_label2 -}}
                </a>
                <a class="mega-menu-bottom-link" href="{{ megaMenuBottomLink3 }}">
                  {{- section.settings.mega_menu_bottom_label3 -}}
                </a>
              </div>
            </div>
          </div>

          <!-- Bottom Menu -->
          {%- for link in section.settings.bottom_menu.links -%}
            {%- assign hasChildren = link.links | empty | default: false -%}
            <div class="nav-item {%- if hasChildren -%}{{" dropdown"}}{%- endif -%}">
              <a
                class=" {%- if hasChildren -%}{{"dropdown-toggle "}}{%- endif -%}nav-link"
                href="{{ link.url }}"
                aria-label="{{ link.title | escape }}"
              >
                {{- link.title | escape -}}
              </a>
              {%- if hasChildren -%}
                <div class="dropdown-menu">
                  {%- for childlink in link.links -%}
                    <div class="dropdown-item">
                      <a
                        class="nav-link"
                        href="{{ childlink.url }}"
                        aria-label="Product list of {{ childlink.title | escape }}"
                      >
                        {{- childlink.title | escape -}}
                      </a>
                    </div>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}

          <!-- Match Maker Image and Link -->
          <div class="has-icon nav-item">
            {%- if section.settings.match_maker_image != blank -%}
              <img
                src="{{ section.settings.match_maker_image | image_url: 'master' }}"
                alt="bed"
                width="26"
                height="25"
                loading="lazy"
                class="icon"
              >
            {%- else -%}
              <img
                src="{{ 'bed-xs.png' | asset_img_url: 'master' }}"
                alt="bed"
                width="26"
                height="25"
                loading="lazy"
                class="icon"
              >
            {%- endif -%}
            {%- assign matchMakerLink = section.settings.match_maker_link
              | default: '/pages/mattress-matchmaker'
              | url_escape
            -%}
             <!-- <a
              class="nav-link"
              href="{{ matchMakerLink }}"
              aria-label="Read more about mattress match maker"
            >
              {{- section.settings.match_maker_label -}}
            </a>  -->
            <!-- Trigger button -->
            <button id="openPopupBtn">Mattress Matchmaker</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup container for Mattress Matchmaker -->
<div id="customPopup" class="mm popup">
  <div class="popup-content">
    <span class="close">&times;</span>
    <div class="popup-content-area">
      <div class="header-logo">
        <img
          src="{{ 'popup-logo.png' | asset_img_url: 'master' }}"
          alt="bed"
          width="200"
          height="auto"
          loading="lazy"
          class="icon">
      </div>
      <h2 class="header-title">Find Your Perfect Mattress</h2>
      <p>Choose Your Personalized Shopping Experience</p>
      <div class="pop-up-card">
        <div class="popup-card">
          <div class="card-logo">
            <img
              src="{{ 'bed-1.5x.png' | asset_img_url: 'master' }}"
              alt="bed"
              width="80"
              height="auto"
              loading="lazy"
              class="icon">
          </div>
          <h3>Online <br> Matchmaker</h3>
          <ul>
            <li>Quick 2-minute questionnaire</li>
            <li>Shop from home</li>
            <li>Instant recommendations</li>
          </ul>
          <div class="card-btn">
            <a href="{{ shop.url }}/pages/mattress-matchmaker">Start Online Quiz</a>
          </div>
        </div>
        <div class="popup-card">
          <div class="card-logo">
            <img
              src="{{ 'moon.png' | asset_img_url: 'master' }}"
              alt="bed"
              width="100"
              height="auto"
              loading="lazy"
              class="icon">
          </div>
          <h3>In-Store Pressure Mapping</h3>
          <ul>
            <li>Advanced pressure point analysis</li>
            <li>Personalized guidance</li>
            <li>Try before you buy</li>
          </ul>
          <div class="card-btn">
            <a href="{{ shop.url }}/pages/in-store-matchmaker">Book In-Store Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const headerBottom = document.querySelector('.header-bottom');
    const stickyOffset = 60; // Desired fixed position from the top

    window.addEventListener("scroll", () => {
      if (window.scrollY > stickyOffset) {
        headerBottom.classList.add("sticky");
      } else {
        headerBottom.classList.remove("sticky");
      }
    });

    const mainNavDropdownToggles = document.querySelectorAll('.main-nav .dropdown-toggle');
    const dropdownMenus = document.querySelectorAll('.dropdown-menu');
    const mainMenu = document.querySelector('.main-menu');
    const mainMenuToggle = document.querySelector('.main-menu-toggle');

    mainNavDropdownToggles.forEach(function(toggle) {
      toggle.addEventListener('click', function(e) {
        e.preventDefault();
        var menu = this.nextElementSibling;

        if (! menu.classList.contains('open')) {
          closeOpenDropdownMenus();
          menu.classList.add('open');
          slideDown(menu);
        } else {
          menu.classList.remove('open');
          slideUp(menu);
        }
      });
    });

    dropdownMenus.forEach(function(menu) {
      menu.querySelector('.nav-link').addEventListener('click', function(e) {
        e.stopPropagation();
      });
    });

    document.querySelectorAll('.nav-link:not(.dropdown-toggle)').forEach(function(link) {
      link.addEventListener('click', function() {
        if (mainMenu.classList.contains('open')) {
          slideUp(mainMenu);
        }
      });
    });

    mainMenuToggle.addEventListener('click', function() {
      mainMenu.classList.toggle('open');
      slideToggle(mainMenu);
    });

    document.addEventListener('click', function(e) {
      if (! e.target.closest('.main-nav')) {
        closeOpenDropdownMenus();
      }
    });

    function closeOpenDropdownMenus() {
      document.querySelectorAll('.main-nav .dropdown-menu.open').forEach(function(menu) {
        menu.classList.remove('open');
        slideUp(menu);
      });
    }

    function slideUp(element) {
      element.style.transition = 'max-height 0.3s';
      element.style.maxHeight = 0;
      element.style.overflow = 'hidden';
      setTimeout(function() {
        element.style.display = 'none';
      }, 100);
    }

    function slideDown(element) {
      element.style.transition = 'max-height 0.3s';
      element.style.display = 'block';
      element.style.overflow = 'hidden';
      element.style.maxHeight = element.scrollHeight + 'px';
      setTimeout(function() {
        element.style.maxHeight = 'unset';
      }, 100);
    }

    function slideToggle(element) {
      if (element.clientHeight > 0) {
        slideUp(element);
      } else {
        slideDown(element);
      }
    }
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const popup = document.getElementById("customPopup");
    const btn = document.getElementById("openPopupBtn");
    const close = popup.querySelector(".close");
  
    btn.addEventListener("click", () => popup.style.display = "block");
    close.addEventListener("click", () => popup.style.display = "none");
  
    window.addEventListener("click", function(event) {
      if (event.target === popup) {
        popup.style.display = "none";
      }
    });
  });
</script>

{% style %}
  .header-bottom {
    position: relative;
    z-index: 10 !important;
    transition: top 0.3s ease-in-out;
  }

  .header-bottom.sticky {
    position: fixed !important;
    top: 100px !important; /* Fixed position from the top */
    left: 0;
    width: 100%;
    z-index: 999 !important;
    background-color: #ffffff; /* Optional: Add a background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visibility */
  }

 @media (max-width: 990px){
   .header-bottom.sticky {
      top: 138px !important;
    }
 }

  @media (max-width: 420px){
   .header-bottom.sticky {
      top: 88px !important;
    }
 }
{% endstyle %}

{% schema %}
{
  "name": "Header Bottom",
  "class": "header-bottom-section",
  "settings": [
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Number",
      "default": "1905-212-7722"
    },
    {
      "type": "text",
      "id": "meta_menu_title",
      "default": "All Mattresses",
      "label": "Mega Menu Title"
    },
    {
      "type": "link_list",
      "id": "mega_menu",
      "label": "Mega Menu"
    },
    {
      "type": "text",
      "id": "mega_menu_bottom_label",
      "default": "VIEW ALL MATTRESSES",
      "label": "Mega Menu Bottom Label"
    },
    {
      "type": "url",
      "id": "mega_menu_bottom_link",
      "label": "Mega Menu Bottom Link"
    },
    {
      "type": "text",
      "id": "mega_menu_bottom_label2",
      "default": "VIEW ALL COLLECTIONS",
      "label": "Mega Menu Bottom Label2"
    },
    {
      "type": "url",
      "id": "mega_menu_bottom_link2",
      "label": "Mega Menu Bottom Link2"
    },
    {
      "type": "text",
      "id": "mega_menu_bottom_label3",
      "default": "VIEW ALL BRANDS",
      "label": "Mega Menu Bottom Label3"
    },
    {
      "type": "url",
      "id": "mega_menu_bottom_link3",
      "label": "Mega Menu Bottom Link3"
    },
    {
      "type": "link_list",
      "id": "bottom_menu",
      "label": "Bottom Menu"
    },
    {
      "type": "image_picker",
      "id": "match_maker_image",
      "label": "Match Maker Image"
    },
    {
      "type": "text",
      "id": "match_maker_label",
      "default": "Mattress Matchmaker",
      "label": "Match Maker Label"
    },
    {
      "type": "url",
      "id": "match_maker_link",
      "label": "Match Maker Link"
    }
  ]
}
{% endschema %}
