{{ 'header-bottom.css' | asset_url | stylesheet_tag }}
<div class="header-bottom">
  <div class="page-width">
    <div class="main-nav">
      <div class="mobile-bottom">
        <div class="start">
          <button
            type="button"
            class="main-menu-toggle"
            aria-label="Toggle Nav Drop Down">
            <span class="stripe"></span>
            <span class="stripe"></span>
            <span class="stripe"></span>
          </button>
        </div>
        <div class="end">
          <a href="tel:{{ section.settings.phone_number }}">
            <i class="gsi gs-phone"></i>
            <span>{{ section.settings.phone_number }}</span>
          </a>
        </div>
      </div>
      <div class="main-menu">
        <div class="nav-area">
          <div class="nav-item has-mega-menu dropdown">
            <a
              href="#"
              class="dropdown-toggle nav-link"
              role="button">{{ section.settings.meta_menu_title }}</a>
            <div class="dropdown-menu mega-menu">
              <div class="mega-menu-area">
                {%- for link in section.settings.mega_menu.links -%}
                  {%- assign hasChildren = link.links | empty | default: false -%}
                  <div class="mega-menus">
                    <h5>{{- link.title | escape -}}</h5>
                    {%- if hasChildren -%}
                      <div class="inner-menu">
                        {%- for childlink in link.links -%}
                          <div class="dropdown-item">
                            <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                          </div>
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endfor -%}
              </div>
              <div class="all-item">
                {%- assign megaMenuBottomLink = section.settings.mega_menu_bottom_link | default: "/collections/all-mattresses" | url_escape -%}
                <a class="mega-menu-bottom-link" href="{{ megaMenuBottomLink }}">{{ section.settings.mega_menu_bottom_label }}</a>
              </div>
            </div>
          </div>
          {%- for link in section.settings.bottom_menu.links -%}
            {%- assign hasChildren = link.links | empty | default: false -%}
            <div class="nav-item {%- if hasChildren -%}{{" dropdown"}}{%- endif -%}">
              <a class=" {%- if hasChildren -%}{{"dropdown-toggle "}}{%- endif -%}nav-link" href="{{ link.url }}">{{- link.title | escape -}}</a>
              {%- if hasChildren -%}
                <div class="dropdown-menu">
                  {%- for childlink in link.links -%}
                    <div class="dropdown-item">
                      <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    </div>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
          <div class="has-icon nav-item">
            {%- if section.settings.match_maker_image != blank -%}
              <img
                src="{{ section.settings.match_maker_image | img_url: 'master' }}"
                alt="bed"
                width="26"
                height="25"
                loading="lazy"
                class="icon" />
            {%- else -%}
              <img
                src="{{ 'bed-xs.png' | asset_img_url: 'master' }}"
                alt="bed"
                width="26"
                height="25"
                loading="lazy"
                class="icon" />
            {%- endif -%}
            {%- assign matchMakerLink = section.settings.match_maker_link | default: "/pages/mattress-matchmaker" | url_escape -%}
            <a class="nav-link" href="{{ matchMakerLink }}">{{ section.settings.match_maker_label }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% javascript %}
  (function($) {
    $(document).ready(function() {
      $(".main-nav .dropdown-toggle").click(function(e) {
        e.preventDefault();
        var $menu = $(this).next(".dropdown-menu");
        if (! $menu.hasClass("open")) {
          $(".dropdown-menu.open").removeClass("open").slideUp("fast");
          $menu.addClass("open").slideDown("fast");
        } else {
          $menu.removeClass("open").slideUp("fast");
        }
      });
      $(".dropdown-menu .nav-link").click(function(e) {
        e.stopPropagation();
      });
      $(".nav-link:not(.dropdown-toggle)").click(function(e) {
        if ($(".main-menu").hasClass("open")) {
          $(".main-menu").slideUp("fast");
        }
      });
      $(".main-menu-toggle").click(function(e) {
        $(".main-menu").toggleClass("open").slideToggle("fast");
      });
      $(document).on("click", function(e) {
        if (! $(e.target).closest(".main-nav").length) {
          $(".main-nav .dropdown-menu.open").removeClass("open").slideUp("fast");
        }
      });
    })
  })(jQuery)
{% endjavascript %}
{% schema %}
  {
    "name": "t:sections.header-bottom.name",
    "class": "header-bottom-section",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "text",
        "id": "phone_number",
        "label": "Phone Number",
        "default": "1905-212-7722"
      },
      {
        "type": "text",
        "id": "meta_menu_title",
        "default": "All Mattresses",
        "label": "Mega Menu Title"
      },
      {
        "type": "link_list",
        "id": "mega_menu",
        "label": "Mega Menu"
      },
      {
        "type": "text",
        "id": "mega_menu_bottom_label",
        "default": "VIEW ALL MATTRESSES",
        "label": "Mega Menu Bottom Label"
      },
      {
        "type": "url",
        "id": "mega_menu_bottom_link",
        "label": "Mega Menu Bottom Link"
      },
      {
        "type": "link_list",
        "id": "bottom_menu",
        "label": "Bottom Menu"
      },
      {
        "type": "image_picker",
        "id": "match_maker_image",
        "label": "Mach Maker Image"
      },
      {
        "type": "text",
        "id": "match_maker_label",
        "default": "Mattress Matchmaker",
        "label": "Match Maker Label"
      },
      {
        "type": "url",
        "id": "match_maker_link",
        "label": "Match Maker Link"
      }
    ]
  }
{% endschema %}