{{ 'header-top.css' | asset_url | stylesheet_tag }}
<div class="header-top">
  <div class="container">
    <div class="header-inner">
      <div class="start">
        <a
          href="{{ routes.root_url }}"
          class="logo"
          aria-current="page">
          {%- if section.settings.logo != blank -%}
            <img
              src="{{ section.settings.footer_logo | img_url: 'master' }}"
              alt="Logo"
              width="260"
              height="30"
              loading="lazy"
              class="logo-img" />
          {%- else -%}
            <img
              src="{{ 'mattressville-logo.png' | asset_img_url: 'master' }}"
              alt="Logo"
              width="260"
              height="30"
              loading="lazy"
              class="logo-img" />
          {%- endif -%}
        </a>
      </div>
      <div class="center">
        <form
          action="{{ routes.search_url }}"
          method="get"
          role="search"
          class="search-box">
          <button
            aria-label="Search"
            type="submit"
            class="btn-search"
            aria-label="{{ 'Search' }}">
            <i class="gsi gs-search"></i>
          </button>
          <input
            required
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="Search by brand, model..."
            class="search-input" />
          <input
            type="hidden"
            name="type"
            value="product" />
          <input
            type="hidden"
            name="options[prefix]"
            value="last" />
        </form>
      </div>
      <div class="end">
        <ul class="end-menu">
          <li class="social-media">
            {%- if settings.social_twitter_link != blank -%}
              <a
                href="{{ settings.social_twitter_link }}"
                target="_blank"
                rel="noreferrer nofollow">
                <i class="gsi gs-twitter-alt"></i>
              </a>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <a
                href="{{ settings.social_facebook_link }}"
                target="_blank"
                rel="noreferrer nofollow">
                <i class="gsi gs-facebook-alt"></i>
              </a>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <a
                href="{{ settings.social_instagram_link }}"
                target="_blank"
                rel="noreferrer nofollow">
                <i class="gsi gs-instagram"></i>
              </a>
            {%- endif -%}
          </li>
          <li>
            <div class="mini-cart">
              <a
                class="cart-toggle"
                href="{{ routes.cart_url }}"
                aria-label="Cart Items">
                <span class="icon" data-quantity="{{ cart.item_count }}">
                  <i class="gsi gs-shopping-cart"></i>
                </span>
                <span class="label">Cart Items</span>
              </a>
            <!-- <a               class="cart-toggle"               aria-haspopup="true"               aria-expanded="false"               role="button"               aria-label="Cart Items">               <span class="icon" data-quantity="{{ cart.item_count }}">               <i class="gsi gs-shopping-cart"></i>               </span>               <span class="label">Cart Items</span>               </a> -->
            <!-- <div               x-placement="bottom-start"               style="position: absolute; top: 0px; left: 0px; opacity: 0; pointer-events: none; margin: 0px;"               class="dropdown-menu"               aria-labelledby="">               <div class="wrapper">               <div class="cart-content">               <ul class="cart-list">               <li class="cart-item">               <div class="item-image">               <img alt="variant-0" src="https://cdn.shopify.com/s/files/1/0558/6780/1757/products/SealyREPREVE_TightTopFirmMattress.png?v=1668188455">               </div>               <div class="item-content">               <div class="item-name">               <strong>Sealy REPREVE® Tight Top Firm Mattress</strong>               </div>               <span class="item-amount">               <span class="item-qty">Qty: 1</span>               <span class="money">$699</span>               </span>               </div>               </li>               </ul>               <div class="cart-meta">               <hr class="cart-rule">               <div class="cart-total">               <strong>Subtotal</strong>               <span class="money">$699</span>               </div>               <div class="cart-actions dropdown-item">               <a href="/all-products/">Continue Shopping</a>               <a class="btn-cart" href="/cart/">View cart</a>               </div>               </div>               </div>               </div>               </div> -->
            </div>
          </li>
          <li class="account">
            {%- if shop.customer_accounts_enabled -%}
              <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="login-toggle">
                <span class="icon">
                  <i class="gsi gs-log-in"></i>
                </span>
                <span class="label">Login</span>
                <span class="visually-hidden">
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </span>
              </a>
            {%- endif -%}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.header-top.name",
    "class": "header-top-section",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      }
    ]
  }
{% endschema %}