{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'invx-testimonial.css' | asset_url | stylesheet_tag }}

{%- capture minify -%}
  <div class="page-width">
    <div class="entry-data ">
      <h2 class="title">{{ section.settings.heading }}</h2>
    </div>
    <div class="testimonials-inner">
      {%- if section.settings.section_background_image != blank -%}
        <img
          src="{{ section.settings.section_background_image | img_url: 'master' }}"
          alt="A women sleeping on a white bed and white cozy mattress"
          class="testimonial-bg"
          height="300"
          width="1260"
          loading="lazy"
        />
      {%- endif -%}
      <div class="testimonial-data">
        <div class="swiper testimonial-swiper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide">
                <div class="top-area d-flex">
                  {%- if block.settings.review_image != blank -%}
                    <img
                      src="{{ block.settings.review_image | img_url: 'master' }}"
                      alt="{{ block.settings.review_title }}"
                      height="52"
                      width="52"
                      loading="lazy"
                    >
                  {%- else -%}
                    <img
                      src="https://cdn.shopify.com/s/files/1/0663/5887/0235/files/team02.jpg"
                      alt="{{ block.settings.review_title }}"
                      height="52"
                      width="52"
                      loading="lazy"
                    >
                  {%- endif -%}
                  <div class="end d-flex flex-column">
                    <h3 class="my-auto">{{ block.settings.review_title }}</h3>
                    {%- if block.settings.review_subtitle != blank -%}
                      <p>{{ block.settings.review_subtitle }}</p>
                    {%- endif -%}
                  </div>
                </div>
                <div class="star d-flex justify-content-center">
                  {% assign review_stars = block.settings.review_stars | plus: 0 %}
                  {% for i in (1..review_stars) %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="24" height="23" class="my-auto star-icon">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9992 19.4142L5.6346 22.81C4.75605 23.2787 4.18215 22.8676 4.35363 21.8868L5.60243 14.7438L0.418105 9.70637C-0.29485 9.01363 -0.0735007 8.33865 0.910558 8.19905L8.04576 7.1868L11.2134 0.670345C11.6473 -0.222447 12.35 -0.224449 12.7849 0.670345L15.9525 7.1868L23.0878 8.19905C24.0727 8.33877 24.2965 9.01039 23.5802 9.70637L18.3959 14.7438L19.6447 21.8868C19.8158 22.8654 19.2415 23.2783 18.3637 22.81L11.9992 19.4142Z" fill="currentColor"></path>
                    </svg>
                  {% endfor %}
                </div>
                <div class="desc">
                  {{ block.settings.review_text }}
                  <div class="meta-data">
                    <div class="name-meta">{{ block.settings.reviewer_name }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="slider-nav">
          <button class="btn-swiper swiper-left" aria-label="Slide Left">
            <i class="gsi gs-chevron-left"></i>
          </button>
          <button class="btn-swiper swiper-right" aria-label="Slide Right">
            <i class="gsi gs-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
{%- endcapture -%}
{{ minify | strip_newlines }}
<script>
  window.addEventListener('load', function () {
    const swiper = new Swiper('.testimonial-swiper', {
      // Optional parameters
      direction: 'horizontal',
      spaceBetween: 10,
      slidesPerView: 1.15,
      rewind: true,
      lazyLoading: true,
      breakpoints:{
        990: { slidesPerView: 1 },
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.testimonials .testimonial-data .slider-nav .swiper-right',
        prevEl: '.testimonials .testimonial-data .slider-nav .swiper-left',
      },
    });
  });
</script>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "class": "testimonials",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Heading settings"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "heading",
      "default": "What Our Customers Are Saying"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#535353"
    },
    {
      "label": "Section Background",
      "id": "section_background_image",
      "type": "image_picker"
    }
  ],
  "blocks": [
    {
      "name": "Testimonial",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "review_image",
          "label": "Customer image",
          "info": "Recommended 1:1 ratio, square image"
        },
        {
          "type": "select",
          "id": "review_stars",
          "label": "Review rating",
          "options": [
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "1",
              "label": "1"
            }
          ],
          "default": "5"
        },
        {
          "type": "text",
          "id": "review_title",
          "label": "Review Title"
        },
        {
          "type": "text",
          "id": "review_subtitle",
          "label": "Review Subtitle"
        },
        {
          "type": "text",
          "id": "reviewer_name",
          "label": "Reviewer Name"
        },
        {
          "type": "richtext",
          "id": "review_text",
          "label": "Review Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials"
    }
  ]
}
{% endschema %}
