{%- style -%}
{%- endstyle -%}
{{ 'product-content.css' | asset_url | stylesheet_tag }}
<div class="container">
  <div class="inner">
    <div class="tabs" role="tablist">
      <div class="tab-item">
        <a href="#tabpane-description" role="tab" class="tab active">DESCRIPTION</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-information" role="tab" class="tab">INFORMATION</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-features" role="tab" class="tab">FEATURES</a>
      </div>
      {%- if section.settings.review_tab_shortcode != blank -%}
      <div class="tab-item">
        <a href="#tabpane-reviews" role="tab" class="tab">REVIEWS</a>
      </div>
      {%- endif -%}
    </div>
    <div class="tab-content">
      <div id="tabpane-description" class="tab-pane active">
        <div class="tab-container">
          {%- if product.description != blank -%}
            {{ product.description }}
          {%- endif -%}
        </div>
      </div>
      <div id="tabpane-information" class="tab-pane">
        <div class="tab-container">
          {{ product.metafields.meta_data.info_tab | replace: '!important', '' }}
        </div>
      </div>
      <div id="tabpane-features" class="tab-pane">
        <div class="tab-container">
          {{ product.metafields.meta_data.features_tab }}
        </div>
      </div>
      {%- if section.settings.review_tab_shortcode != blank -%}
      <div id="tabpane-reviews" class="tab-pane">
        <div class="tab-container">
            {{ section.settings.review_tab_shortcode }}
        </div>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% javascript %}
  (function($) {
    $(document).ready(function() {
      $(".product-content .tab").click(function(e) {
        e.preventDefault();
        const $href = $(this).attr('href');
        $(".product-content .tabs .tab.active").removeClass("active");
        $(".product-content .tab-content .tab-pane.active").removeClass("active");
        $(this).addClass('active');
        $($href).addClass('active');
      });
    })
  })(jQuery)
{% endjavascript %}
{% schema %}
{
  "name": "Product Content",
  "class": "product-content",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "liquid",
      "id": "review_tab_shortcode",
      "label": "Review Type Shortcode"
    }
  ],
  "blocks": [],
  "presets": []
}
{% endschema %}
