{{ 'product-content.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="inner">
    <div class="tabs" role="tablist">
      <div class="tab-item">
        <a href="#tabpane-description" role="tab" class="tab active">DESCRIPTION</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-information" role="tab" class="tab">INFORMATION</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-features" role="tab" class="tab">FEATURES</a>
      </div>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            <div class="tab-item">
              <a href="#tabpane-reviews" role="tab" class="tab">REVIEWS</a>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <div class="tab-content">
      <div id="tabpane-description" class="tab-pane active">
        <div class="tab-container">
          <div class="description-box d-flex">
            <div class="description-left flex-grow-1">
              <div class="vendor-details">
                {%- if product.title != blank -%}
                  <h4>{{ product.title }}</h4>
                {%- endif -%}
              </div>
               {%- if product.description != blank -%}
                  {{ product.description }}
                {%- endif -%}
            </div>
            <div class="description-right flex-shrink-1">
              <div class="mv-logo">
                <img src="https://cdn.shopify.com/s/files/1/0558/6780/1757/files/mattressville-slogan1.png?v=1712205980" alt="Mattressville"/>
              </div>
              <div class="coupon-logo">
                <a href="/pages/coupons" class="coupon-link-text">Don't Forget To Check</a>
                <a href="/pages/coupons" class="coupon-link-text">Coupons & Deals</a>
                <div class="coupon-image">
                  <a href="/pages/coupons" class="coupon-link-text">
                    <img src="https://cdn.shopify.com/s/files/1/0558/6780/1757/files/gift-lg.png?v=1712205818" alt="Coupon gift"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tabpane-information" class="tab-pane">
        <div class="tab-container">
          {{ product.metafields.meta_data.info_tab | replace: '!important', '' }}
        </div>
      </div>
      <div id="tabpane-features" class="tab-pane">
        <div class="tab-container">
          {{ product.metafields.meta_data.features_tab }}
        </div>
      </div>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            <div id="tabpane-reviews" class="tab-pane">
              <div class="tab-container">
                {% render block %}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% javascript %}
document.addEventListener('DOMContentLoaded', function() {
  var tabs = document.querySelectorAll('.product-content .tab');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', function(e) {
      e.preventDefault();
      var href = this.getAttribute('href');
      var activeTab = document.querySelector('.product-content .tabs .tab.active');
      var activeTabContent = document.querySelector('.product-content .tab-content .tab-pane.active');
      if (activeTab) {
        activeTab.classList.remove('active');
      }
      if (activeTabContent) {
        activeTabContent.classList.remove('active');
      }
      this.classList.add('active');
      document.querySelector(href).classList.add('active');
    });
  });
});
{% endjavascript %}
{% schema %}
{
  "name": "Product Content",
  "class": "product-content",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": []
}
{% endschema %}
