{{ 'product-content.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="inner">
    <div class="tabs" role="tablist">
      <div class="tab-item">
        <a href="#tabpane-description" role="tab" class="tab active">DESCRIPTION</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-information" role="tab" class="tab">INFORMATION</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-features" role="tab" class="tab">FEATURES</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-reviews" role="tab" class="tab">REVIEWS</a>
      </div>      
    </div>
    <div class="tab-content">
      <div id="tabpane-description" class="tab-pane active">
        <div class="tab-container">
          <div class="description-box d-flex">
            <div class="description-left flex-grow-1">
              <div class="vendor-details">
                
                {% render 'invx-brand-logos', card_product: product, show_vendor: true %}

                {%- if product.title != blank -%}
                  <h4>{{ product.title }}</h4>
                {%- endif -%}
              </div>
               {%- if product.description != blank -%}
                  {{ product.description }}
                {%- endif -%}

                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when '@app' -%}
                        {% render block %}
                  {%- endcase -%}
                {%- endfor -%}
                <div class="affirm-text">
                  <p>Buy now pay over time! Financing available via Affirm.<br>Learn more on <a href="https://helpcenter.affirm.com/s/" rel="noopener noreferrer"> 
                  <img
                  src="{{ 'affirm-icon.png' | asset_img_url: 'master' }}" alt="{{ product.vendor }}"
                  class="vendor-img"
                  loading="lazy"
                  height="30"
                  width="auto" /></a>
                 </p>
                </div>

            </div>

            <div class="description-right flex-shrink-1">
              <div class="mv-logo">
                <img src="{{ 'mattressville-slogan.png' | asset_img_url: 'master'}}" alt="Mattressville" width="100%" height="auto" style="max-width:250px">
              </div>
              <div class="coupon-logo">
                <a href="/pages/coupons" class="coupon-link-text">Don't Forget To Check</a>
                <a href="/pages/coupons" class="coupon-link-text">Coupons & Deals</a>
                <div class="coupon-image">
                  <a href="/pages/coupons" class="coupon-link-text">
                    <img src="{{'gift-lg.png' | asset_img_url: '140x'}}" alt="Coupon gift" width="100%" height="auto" style="max-width:100px">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tabpane-information" class="tab-pane">
        <div class="tab-container">
          {%- if product.metafields.meta_data.info_tab != blank -%}
            {{ product.metafields.meta_data.info_tab | replace: '!important', '' }}
          {% else %}
          {%- if product.metafields.custom.information_coil_count_table != blank -%}
            <p><strong>COIL COUNT</strong></p>
            <table class="table table-striped">
              <tbody>
                {% assign coil_count_array = product.metafields.custom.information_coil_count_table | split: ',' %}
                <tr>
                  {% for item in coil_count_array %}
                    {% assign parts = item | split: ':' %}
                    {% assign clean_item = parts[0] | replace: '"', '' | replace: '[', '' | replace: ']', '' | strip %}
                    <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top; border-color:#dee2e6 !important;">{{ clean_item }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  {% for item in coil_count_array %}
                    {% assign parts = item | split: ':' %}
                    {% assign clean_item = parts[1] | replace: '"', '' | replace: '[', '' | replace: ']', '' | strip %}
                    <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top; border-color:#dee2e6 !important;">{{ clean_item }}</th>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          {%- endif -%}
          {%- if product.metafields.custom.information_product_info_table != blank -%}
            <table class="table table-striped">
              <tbody>
                {% assign product_info_array = product.metafields.custom.information_product_info_table | split: ',' %}
                {% for item in product_info_array %}
                  {% assign parts = item | split: ':' %}
                  {% assign key = parts[0] | replace: '"', '' | replace: '[', '' | replace: ']', '' | strip %}
                  {% assign value = parts[1] | replace: '"', '' | replace: '[', '' | replace: ']', '' | strip %}
                <tr>
                  <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top; border-color:#dee2e6 !important;">{{ key }}</th>
                  <td style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top; border-color:#dee2e6 !important;">{{ value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {%- endif -%}
          {%-if product.metafields.custom.information_mixed_content != blank -%}
            {{ product.metafields.custom.information_mixed_content |  metafield_tag }}
          {%- endif -%}
          {% assign media_image_id = product.metafields.custom.information_file_content %}
          {% if media_image_id %}
            {% assign media_image = media_image_id | media_image %}
            {% if media_image %}
              <img src="{{ media_image | img_url: 'master' }}" alt="Product Image">
            {% endif %}
          {% endif %}
          {%-if product.metafields.custom.product_table_description != blank -%}
            {{ product.metafields.custom.product_table_description |  metafield_tag }}
          {%- endif -%}
        {%- endif -%}
        </div>
      </div>
      <div id="tabpane-features" class="tab-pane">
        <div class="tab-container">
          {%-if product.metafields.meta_data.features_tab != blank -%}
            {{ product.metafields.meta_data.features_tab }}
          {% else %}
          {%-if product.metafields.custom.feature_product_info_table != blank -%}
            {{ product.metafields.custom.feature_product_info_table }}
          {%- endif -%}
            {%-if product.metafields.custom.feature_mixed_content != blank -%}
              {{ product.metafields.custom.feature_mixed_content | metafield_tag }}
            {%- endif -%}
            {% assign feature_image_id = product.metafields.custom.feature_file_content %}
            {% if feature_image_id %}
              {% assign feature_media_image = feature_image_id | media_image %}
              {% if feature_media_image %}
                <img src="{{ feature_media_image | img_url: 'master' }}" alt="Product Image" style="width:100%">
              {% endif %}
            {% endif %}
          {%- endif -%}
        </div>
      </div>
      <div id="tabpane-reviews" class="tab-pane">
        <div class="tab-container">
          {%- for block in section.blocks -%}            
            {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% javascript %}
document.addEventListener('DOMContentLoaded', function() {
  var tabs = document.querySelectorAll('.product-content .tab');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', function(e) {
      e.preventDefault();
      var href = this.getAttribute('href');
      var activeTab = document.querySelector('.product-content .tabs .tab.active');
      var activeTabContent = document.querySelector('.product-content .tab-content .tab-pane.active');
      if (activeTab) {
        activeTab.classList.remove('active');
      }
      if (activeTabContent) {
        activeTabContent.classList.remove('active');
      }
      this.classList.add('active');
      document.querySelector(href).classList.add('active');
    });
  });
});
{% endjavascript %}
{% schema %}
{
  "name": "Product Content",
  "class": "product-content",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": []
}
{% endschema %}