{% assign vendorImage = null %}
{% assign vendorImageH = 63 %}
{% assign vendorImageW = "auto" %}
    {% case product.vendor %}
    {% when 'Beautyrest' %}
      {% assign vendorImage = 'beauty.jpg' | asset_img_url: 'master' %}
    {% when 'Beaudoin' %}
      {% assign vendorImage = 'beaudoin.jpg' | asset_img_url: 'master' %}
      {% when 'EcoComfort' %} 
        {% assign vendorImage = 'ecocomfort.jpg' | asset_img_url: 'master' %}
        {% when 'Galaxy Bedding' %}
          {% assign vendorImage = 'galaxy.jpg' | asset_img_url: 'master' %}
        {% when 'Kingsdown' %}
          {% assign vendorImage = 'kingsdown.jpg' | asset_img_url: 'master' %}
        {% when 'Mattressville' %}
          {% assign vendorImage = 'mville-new.jpg' | asset_img_url: 'master' %}
        {% when 'Natura' %}
          {% assign vendorImage = 'natura-icon.jpg' | asset_img_url: 'master' %}
        {% when 'Sealy' %}
          {%  assign vendorImage = 'sealy-vendor.jpg' | asset_img_url: 'master' %}
        {% when 'Serta' %}
          {% assign vendorImage = 'serta-new.jpg' | asset_img_url: 'master' %}
        {% when 'Serta iComfort' %}
          {% assign vendorImage = 'iComfort.jpg' | asset_img_url: 'master' %}
        {% when 'Stearns & Foster' %}
          {% assign vendorImage = 'sf.jpg' | asset_img_url: 'master' %}
        {% when 'Tempur-Pedic' %}
          {% assign vendorImage = 'tempur.jpg' | asset_img_url: 'master' %}
      {% endcase %}

{{ 'product-content.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="inner">
    <div class="tabs" role="tablist">
      <div class="tab-item">
        <a href="#tabpane-description" role="tab" class="tab active">DESCRIPTION</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-information" role="tab" class="tab">INFORMATION</a>
      </div>
      <div class="tab-item">
        <a href="#tabpane-features" role="tab" class="tab">FEATURES</a>
      </div>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            <div class="tab-item">
              <a href="#tabpane-reviews" role="tab" class="tab">REVIEWS</a>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <div class="tab-content">
      <div id="tabpane-description" class="tab-pane active">
        <div class="tab-container">
          <div class="description-box d-flex">
            <div class="description-left flex-grow-1">
              <div class="vendor-details">
                {%- if vendorImage != null -%}
                  <img
                    src="{{ vendorImage }}"
                    alt="{{ product.vendor }}"
                    class="vendor-img"
                    loading="lazy"
                    height="{{ vendorImageH }}"
                    width="{{ vendorImageW }}" />
              {%- endif -%}
                {%- if product.title != blank -%}
                  <h4>{{ product.title }}</h4>
                {%- endif -%}
              </div>
               {%- if product.description != blank -%}
                  {{ product.description }}
                {%- endif -%}
                <div class="affirm-text">
                  <p>Buy now pay over time! Financing available via Affirm.<br>Learn more on <a href="https://helpcenter.affirm.com/s/" rel="noopener noreferrer"> <img
                  src={{'affirm-icon.png' | asset_img_url: 'master' }}                  alt="{{ product.vendor }}"
                  class="vendor-img"
                  loading="lazy"
                  height="30"
                  width="auto" /></a>
                 </p>
                </div>
            </div>
            <div class="description-right flex-shrink-1">
              <div class="mv-logo">
                <img src={{'mattressville-slogan.png' | asset_img_url: 'master'}} alt="Mattressville">
              </div>
              <div class="coupon-logo">
                <a href="/pages/coupons" class="coupon-link-text">Don't Forget To Check</a>
                <a href="/pages/coupons" class="coupon-link-text">Coupons & Deals</a>
                <div class="coupon-image">
                  <a href="/pages/coupons" class="coupon-link-text">
                    <img src={{'gift-lg.png' | asset_img_url: 'master'}} alt="Coupon gift">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tabpane-information" class="tab-pane">
        <div class="tab-container">
            {%- if product.metafields.meta_data.info_tab != blank -%}
              {{ product.metafields.meta_data.info_tab | replace: '!important', '' }}
            {% else %}
              <div class="product-info-tab">
                <p><strong>COIL COUNT</strong></p>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">TWIN</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">DOUBLE</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">QUEEN</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">KING</th>
                    </tr>
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">
                      {%- if product.metafields.custom.twin_xl_price != blank -%}
                        {{ product.metafields.custom.twin_xl_price }}
                      {% endif %}
                      </th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">
                        {%- if product.metafields.custom.double_price != blank -%}
                          {{ product.metafields.custom.double_price }}
                        {% endif %}
                      </th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">
                        {%- if product.metafields.custom.queen_price != blank -%}
                          {{ product.metafields.custom.queen_price }}
                        {% endif %}
                      </th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">
                        {%- if product.metafields.custom.king_price != blank -%}
                          {{ product.metafields.custom.king_price }}
                        {% endif %}
                      </th>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Concept</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Value</th>
                    </tr>
                    {%- if product.metafields.custom.model != blank -%}
                      <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Model</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">{{ product.metafields.custom.model }}</th>
                    </tr>
                    {% endif %}
                    {%- if product.metafields.custom.style != blank -%}
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Style</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">{{ product.metafields.custom.style }}</th>
                    </tr>
                  {% endif %}
                  {%- if product.metafields.custom.firmness != blank -%}
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Firmness</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">{{ product.metafields.custom.firmness }}</th>
                    </tr>
                  {% endif %}
                    {%- if product.metafields.custom.mattress_height != blank -%}
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Mattress Height</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">{{ product.metafields.custom.mattress_height }}</th>
                    </tr>
                  {% endif %}
                    {%- if product.metafields.custom.collection != blank -%}
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Collection</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">{{ product.metafields.custom.collection }}</th>
                    </tr>
                  {% endif %}
                    {%- if product.metafields.custom.coil_type != blank -%}
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Coil Type</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">{{ product.metafields.custom.coil_type }}</th>
                    </tr>
                  {% endif %}
                    {%- if product.metafields.custom.recommended_for != blank -%}
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Recommended for</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">{{ product.metafields.custom.recommended_for }}</th>
                    </tr>
                  {% endif %}
                    {%- if product.metafields.custom.warranty != blank -%}
                    <tr>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">Warranty</th>
                      <th style="border-bottom:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-top:1px solid !important;padding:8px;vertical-align:top;">{{ product.metafields.custom.warranty }}</th>
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
                  {%- if product.metafields.custom.product_table_description != blank -%}
                <p><i>{{ product.metafields.custom.product_table_description }}</i></p>
              {% endif %}
              </div>
            {% endif %}
        </div>
      </div>
      <div id="tabpane-features" class="tab-pane">
        <div class="tab-container">
          {{ product.metafields.meta_data.features_tab }}
        </div>
      </div>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            <div id="tabpane-reviews" class="tab-pane">
              <div class="tab-container">
                {% render block %}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% javascript %}
document.addEventListener('DOMContentLoaded', function() {
  var tabs = document.querySelectorAll('.product-content .tab');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', function(e) {
      e.preventDefault();
      var href = this.getAttribute('href');
      var activeTab = document.querySelector('.product-content .tabs .tab.active');
      var activeTabContent = document.querySelector('.product-content .tab-content .tab-pane.active');
      if (activeTab) {
        activeTab.classList.remove('active');
      }
      if (activeTabContent) {
        activeTabContent.classList.remove('active');
      }
      this.classList.add('active');
      document.querySelector(href).classList.add('active');
    });
  });
});
{% endjavascript %}
{% schema %}
{
  "name": "Product Content",
  "class": "product-content",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": []
}
{% endschema %}